<!DOCTYPE html>
<html>
<head>
  <title>CompassTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="site__header island">
  <div class="wrap">
   <span id="animationSandbox" style="display: block;"><h1 class="site__title mega">Animate.css</h1></span>
    <span class="beta subhead">Just-add-water CSS animations</span>
  </div>
</header>

<main class="site__content island" role="content">
  <div class="wrap">
    <%= yield %>
  </div>
  <p>This is a test of the compass-animation gem</p>
</main>

</body>
</html>
